/* Временно */
.detailed {
    margin-bottom: 30px;
}

.detailed__title {
    font-size: 28px;
    margin-bottom: 16px;
}

.table {
    border: 1px solid #121212;
    border-collapse: collapse;
}

.table__col {
    border: 1px solid #dcdcdc;
    padding: 6px 14px;
}

.table__col--1 {
    min-width: 160px;
}

.table__flex-wrap {
    display: flex;
    justify-content: space-between;
}

.table__footer {
    font-size: 20px;
    font-weight: 700;
    background-color: bisque;
}
