:root {
    --container-width: 940px;
    --container-padding: 20px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    border: none;
    padding: 0;
    background: none;
}

.container {
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
}

.app__header {
    margin-bottom: 15px;
}

.main__form {
    margin-bottom: 24px;
}

.table {
    border: 1px solid #121212;
    border-collapse: collapse;
}

.table__col {
    border: 1px solid #dcdcdc;
    padding: 6px 14px;
    text-align: justify;
}

.button {
    cursor: pointer;
}

.button--del {
    padding: 3px 3px 0 3px;
    background-color: red;
    border-radius: 4px;
}

.button--del:hover, .button--del:active {
    background-color: #ff5588;
}

.button--del:active {
    background-color: #aa5588;
}