:root {
    --container-width: 940px;
    --container-padding: 20px;
    height: 100%;
}

body {
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app__main {
    flex-grow: 1;
    flex-shrink: 0;
}

.app__footer {
    flex-grow: 0;
    flex-shrink: 0;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button {
    border: none;
    padding: 0;
    background: none;
}

button:hover, button:active, button:focus {
    border: none;
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
}

.app__header {
    margin-top: 10px;
    margin-bottom: 15px;
}

.main__form {
    margin-bottom: 24px;
}

.button {
    cursor: pointer;
}

.button--del {
    padding: 3px 3px 0 3px;
    background-color: red;
    border-radius: 4px;
}

.button--del:hover, .button--del:active {
    background-color: #ff5588;
}

.button--del:active {
    background-color: #aa5588;
}

.button--hide {
    transform: translateY(2px);
}

.inverted {
    transform: rotate(180deg);
}

.app__footer {
    margin-top: 20px;
}
